<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head'); %>
    </head>
    <body class="container">
        <header>
            <%- include('partials/header'); %>
        </header>

        <main>
            <h1>First Anime List</h1>
            <p>This is one fine anime that need to watch</p>
        </main>
        <footer>
            <%- include('partials/footer'); %>
        </footer>
    </body>
</html>